<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <br>
    <h1 class="display-5 text-center mt-3">Manage Bundle</h1>
    <br>
    <hr>
    <form th:action="@{/manageBundle}" th:object="${bundle}" method="POST">
        <div class="row justify-content-center">
            <div class="m-3 border col-md-6">

                <p><input th:field="*{bundle_id}" type="hidden"></p>

                <label class="row form-label p-2 fw-semibold">Product Name
                    <input th:field="*{name}" type="text" class="form-control">
                </label>
                <label class="row form-label p-2 fw-semibold">Product Description
                    <input th:field="*{description}" type="text" class="form-control">
                </label>
                <label class="row form-label p-2 fw-semibold">Product Price
                    <input th:field="*{price}" type="text" class="form-control">
                </label>
                <label class="row form-label p-2 fw-semibold">Product Quantity
                    <input th:field="*{quantity}" type="text" class="form-control">
                </label>

                <label class="row px-3 form-label fw-semibold">Add Products</label>
                <div style="max-height: 215px; overflow-y: auto;" class="mb-1">
                    <table class="table table-hover shadow-md">
                        <thead class="table-light sticky-top">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="p : ${products}">
                            <td th:text="${p.product_id}"></td>
                            <td th:text="${p.name}"></td>
                            <td>
                                <button class="btn btn-sm btn-outline-secondary" type="submit" name="addProduct">Add</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="mb-3 clearfix">
                    <button type="submit" class="btn btn-primary">Update</button>
                    <a th:href="@{/homepage}" class="btn btn-secondary">Cancel</a>
                    <a th:href="@{/deleteBundle(id=${bundle.bundle_id})}" class="btn btn-danger float-end"
                       onclick="if(!(confirm('Are you sure you want to delete this bundle?')))return false">Delete</a>
                </div>
            </div>
        </div>
    </form>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>